PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=boiskopro

MONGODB_URI=mongodb://127.0.0.1:27017/boiskopro

JWT_SECRET=67-i-do-pieca
